/*table, th, td {
  border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }*/
  h1
{
    color:black;
}
body{
  background-image: url("../Image/1234.jpeg");
  background-size: cover;
}
